*.[1-9] linguist-generated=true
*.man linguist-generated=true
*.roff linguist-generated=true
*.troff linguist-generated=true
docs/** linguist-generated=true
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.h linguist-language=C++
